<!DOCTYPE html>

<title>Schedule</title>

{% block body %}
   {% block javascript %}
 <script>

      window.onload=() =>{
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            height: "auto"
        });
        calendar.render();
      };

    </script>
{% endblock %}
<table border="1">
<tr>
<td>id</td>
<td>time</td>
<td>doctor</td>
<td>client</td>
</tr>
<tr>
<td>{{schedule.id}}</td>
<td>{{schedule.appointment|date('d-m-Y H:S')}}</td>
<td>{{schedule.doctor}}</td>
<td>{{schedule.client}}</td>
</tr>



</table>
    <a href="{{ path('schedule_index') }}">back to list</a>

    <a href="{{ path('schedule_edit', {'id': schedule.id}) }}">edit</a>

    {{ include('schedule/_delete_form.html.twig') }}
{% endblock %}
